# coding: utf-8

"""
    

    [AHOI cookbook](/ahoi/docs/cookbook/index.html)  [Data Privacy](/sandboxmanager/#/privacy)  [Terms of Service](/sandboxmanager/#/terms)  [Imprint](https://sparkassen-hub.com/impressum/)  &copy; 2016&dash;2017 Starfinanz - Ein Unternehmen der Finanz Informatik  # noqa: E501

    OpenAPI spec version: 2.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class TransactionSummaryApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def list_summary(self, access_id, account_id, **kwargs):  # noqa: E501
        """List account summaries  # noqa: E501

        Retrieve account summaries and provide a sum for incoming and outgoing transactions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_summary(access_id, account_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str access_id: The **accessId** for which to list the summaries (required)
        :param str account_id: The **accountId** for which to list the summaries (required)
        :param int limit: Optional — limit the number of returned summary entries
        :param int offset: Optional — skip the first **offset** summary entries in the result
        :param str _from: Optional — only return summary entries later than **from**; an         ISO8601 Date (2014-11-17)
        :param str to: Optional — only return summary entries prior or equal to         **to**; an ISO8601 Date
        :return: list[MonthlySummary]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_summary_with_http_info(access_id, account_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_summary_with_http_info(access_id, account_id, **kwargs)  # noqa: E501
            return data

    def list_summary_with_http_info(self, access_id, account_id, **kwargs):  # noqa: E501
        """List account summaries  # noqa: E501

        Retrieve account summaries and provide a sum for incoming and outgoing transactions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_summary_with_http_info(access_id, account_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str access_id: The **accessId** for which to list the summaries (required)
        :param str account_id: The **accountId** for which to list the summaries (required)
        :param int limit: Optional — limit the number of returned summary entries
        :param int offset: Optional — skip the first **offset** summary entries in the result
        :param str _from: Optional — only return summary entries later than **from**; an         ISO8601 Date (2014-11-17)
        :param str to: Optional — only return summary entries prior or equal to         **to**; an ISO8601 Date
        :return: list[MonthlySummary]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['access_id', 'account_id', 'limit', 'offset', '_from', 'to']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_summary" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'access_id' is set
        if ('access_id' not in params or
                params['access_id'] is None):
            raise ValueError("Missing the required parameter `access_id` when calling `list_summary`")  # noqa: E501
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params or
                params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `list_summary`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'access_id' in params:
            path_params['accessId'] = params['access_id']  # noqa: E501
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501
        if 'to' in params:
            query_params.append(('to', params['to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/accesses/{accessId}/accounts/{accountId}/transactionsummaries', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[MonthlySummary]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
